<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="../public/JS/index.js"></script>
    <title>Face Gate</title>
  </head>

  <body>
    <main>
      <div class="container">
        <div class="mainHeader">aaaa</div>
      </div>
    </main>
  </body>
</html>
